.online {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}

.offline {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.avatar {
  border-radius: 20%;
  background-color: blue;
  margin-left: 20px;
}

.name {
  margin-left: 10px;
  font-weight: 500;
}
