.statistics {
  width: 250px;
  margin: 0 auto;
  box-shadow: 0px 1px 1px 1px rgb(34 60 80 / 20%);
}

.title {
  color: grey;
  background-color: white;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  padding: 15px;
}

.statList {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.label {
  display: block;
  color: white;
  font-size: 10px;
  text-align: center;
  padding-bottom: 5px;
}

.percentage {
  display: block;
  color: white;
  text-align: center;
}
